/*main style on a body element*/

body {
    padding: 0;
    margin: 0;
    background-color: rgb(44, 84, 109);
    font-family: "Prompt", sans-serif;
}

/*main style on calculator*/

.calculator {
    margin: 10em, auto;
    width: 30vw;
    border: 4px, solid black;
    border-radius: 3em;
    background-color: aqua;
    padding: 1em;
}

#result {
    width: 100%;
    margin-bottom: 1em;
}

input[type=text] {
    font-size: 2em;
    color: black;
    font-weight: bold;
    border: 3px solid black;
}