

body {
    padding: 0;
    margin: 0;
    background-color: rgb(44, 84, 109);
    font-family: "Prompt", sans-serif;
}


.calculator {
    margin: 10em auto;
    width: 38vh;
    border: 5px solid black;
    border-radius: 2em;
    background-color: aquamarine;
    padding: 1em;
}


#result {
    width: 93%;
    height: 1.5em;
    margin-bottom: 0.5em;
}

input[type=text] {
    font-size: 2em;
    color: black;
    font-weight: bold;
    border: 3px solid black;
}



.buttons {
    display: grid;
    grid-template-columns: repeat(4, 4em);
    grid-template-rows: minmax(7em, 6) repeat(4, 5em);/* throws an error in css-only 0 can be a unit. You must put a unit after your number : minmax(7em,6) repeat(4,5em)-to be checked*/

}

button {
    height: 1.9em;
    width: 1.9em;
    border-radius: 0.2em;
    margin-right: 0.2em;
    margin-bottom: 0.2em;
    background-color: #a0aca5;
	border: none;
	font-size: 1.7em;
    font-weight: bold;

}



button:active {
    box-shadow: 0 0.1em grey;
    transform: translateY(00.1em);
}

button:hover {
    background-color: yellow;
}



.operator {
    background-color: rgb(0, 153, 255);
    border-radius: 1em;
}

.clear {
   background-color: #ff3300;
   border-radius: 1em;
}

.equal {
    background-color: #33cc33;
    border-radius: 1em;
}